.dashboard__head{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.dashboard__content{
    display: none;
}

.dashboard__head h3{
    color: #1C1C1C;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-right: 4px;
}

.dark .dashboard__head h3{
    color: #fff;
}

.dashboard__content.active{
    display: block;
    margin-top: 16px;
}

.dashboard__card{
    box-sizing: border-box;
    padding: 24px;
    border-radius: 16px;
    background-color: #E3F5FF;
}

.dark .dashboard__card{
    background-color: #4f6469;
}

.swiper-slide:nth-child(even) .dashboard__card{
    background-color: #E5ECF6;
}

.dark .swiper-slide:nth-child(even) .dashboard__card{
    background-color: #668a92;
}

.dashboard__card h3{
    color: #1C1C1C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.dashboard__data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.dashboard__number p{
    color: #1C1C1C;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.dashboard__percent{
    display: flex;
    align-items: center;
}

.dashboard__percent p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 4px;
}

.dashboard__charts{
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}

.dashboard__item{
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    background-color: #F4F6F8;
}

.dark .dashboard__item{
    background-color: #d4d4d4;
}

@media (min-width: 1200px){
    .dashboard__item{
        width: 45%;
    }
}